<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^(.*)$ /index.html [L,QSA]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
  Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

SetEnv SMTP_HOST mail.dgdevperu.com
SetEnv SMTP_PORT 465
SetEnv SMTP_SECURE true
SetEnv SMTP_USER diegogaray@dgdevperu.com
SetEnv SMTP_PASS 021087Mikeyla

